


.active {
    animation-duration: 1200ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation:blink 1200ms infinite; /* Safari and Chrome */
}
@keyframes blink {
    from {
        color:blue;
    }
    to {
        color:yellow;
    }
}
@-webkit-keyframes blink {
    from {
        color:blue;
    }
    to {
        color:yellow;
    }
}

 